html {
  background-color: #80b3ff;
}
h1{
  text-align: center;
  font-size: 70px;
  margin: 0px;
  line-height: 200px;
}
p {
  font-size: 30px;
  padding: 30px 100px 100px 100px;
  margin: 30px 100px 100px 100px;
  text-align: center;
}
